.else {
  opacity: 0%;
}

.main {
  text-align: center;
  position: relative;
  height: 100vh;
  background-image: url("../public/img1.jpeg");
  background-size: 100% 100%;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-attachment: fixed;
  color: #ffffff;
  box-sizing: border-box;
}
.box {
  width: 100vw;
  position: absolute;
  text-align: center;
  top: 40vh;
}
.second {
  height: 100vh;
  background-image: url("../public/img2.jpeg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second span {
  width: 80vw;
  text-align: center;
}
.visible {
  animation: fadein 1.3s linear;
}
@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

img {
  width: 20vw;
}
.qna {
  margin-top: 3vh;
  width: 100vw;
  height: 16vh;
  display: flex;
  border-bottom: 1px solid;
}
.qna * {
  text-align: center;
  line-height: 14vh;
  display: inline-block;
  vertical-align: middle;
}
.qna h3 {
  flex: 1;
}
.qna h6 {
  flex: 2;
}
