.main {
  position: relative;
  height: 100vh;
  background-image: url("../public/img1.jpeg");
  background-size: 100% 100%;
  color: #ffffff;
}
.box {
  width: 100vw;
  position: absolute;
  text-align: center;
  top: 40vh;
}
.blankdiv {
  height: 100vh;
}
.visible {
  animation: fadein 3s infinite;
}
@keyframes fadein {
  0% {
    color: tomato;
  }
  100% {
    color: black;
  }
}
